.container_parent{
	/*border: 1px solid #CCC;*/
    position: relative;
	height: auto;
}

.information{
    position: relative;
    min-height: 100px;
	width: auto;
	height: 200px;
}

.information .information_left{
	/*width: 850px;
	/**margin: 10px 20px 20px 20px;*/
	border: 1px solid #CCC;
	height: 200px;
}

.information .information_right{
	width: 250px;
	border: 1px solid #CCC;
	height: 200px;
}

	
#col6{
	margin-left: 20px;
	border: 2px solid #CCC;
	height: 100%;
	width: 65%;
}

#col4
{
	margin-left: 20px;
	border: 2px solid #CCC;
	height: 100%;
	width: 30%;
}

#select_oneline{
	margin-left: 5px;
	width: 70%;
}

#text_oneline{
	margin-left: 5px;
	width: 55%;
}

#button_oneline{
	margin-top: 10px;
	margin-left: 5px;
	width: 55%;
}

.table_detail{
	margin-top: 30px;
	margin-left: 5px;
	border: 2px solid #CCC;
	height: 400px;
}

.execute_button{
	margin-top: 30px;
	margin-left: 5px;
	border: 2px solid #CCC;
	height: 50px;
/* 	asdasd */
}

.element-menu{
/* 	adasd */
}
