.container_parent{
	/*border: 1px solid #CCC;*/
    position: relative;
	height: auto;
}

.information{
    position: relative;
    min-height: 100px;
	width: auto;
	height: 200px;
}

.information .information_left{
	/*width: 850px;
	/**margin: 10px 20px 20px 20px;*/
	border: 1px solid #CCC;
	height: 200px;
}

.information .information_right{
	width: 250px;
	border: 1px solid #CCC;
	height: 200px;
}

	
#col6{
	margin-left: 20px;
	border: 2px solid #CCC;
	height: 100%;
	width: 65%;
}

#col4
{
	margin-left: 20px;
	border: 2px solid #CCC;
	height: 100%;
	width: 30%;
}

#select_oneline{
	margin-left: 5px;
	width: 70%;
}

#text_oneline{
	margin-left: 5px;
	width: 55%;
}

#button_oneline{
	margin-top: 10px;
	margin-left: 5px;
	width: 55%;
}

.table_detail{
	margin-top: 30px;
	margin-left: 5px;
	border: 2px solid #CCC;
	height: 400px;
}

.execute_button{
	margin-top: 30px;
	margin-left: 5px;
	border: 2px solid #CCC;
	height: 50px;
/* 	asdasd */
}

.element-menu{
/* 	adasd */
}

/* 	ThaiNT */

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMYWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2'), url(http://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(http://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(http://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPYWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2'), url(http://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
body{
	color: #111;
    font-family: "Noto Serif",serif;
    font-size: 16px;
    line-height: 1.62em;
}
/********* nav starts here **********************/
.nav{
	font-family:Droid Sans;
	text-transform: uppercase;
}
.nav a{
	font-family:Droid Sans;
}

/* navbar */
.navbar-default {
    background-color: #f04949;
    border-color: #f04949;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
    font-size:20px;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #f04949;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #f04949;
}
.nav li a:first{margin-left: 20%;}
.nav li a{margin-right: 45%;font-size:1.1em;}
.nav li a i{margin-right: 10px;}
/*** nav ends here ****/


.form-inline .form-group{
	margin-bottom: 20px;
	float: right;
}
.title{
	background-color: #34495e;
    color: #fff;
    font-weight: bold;
    padding: 10px 5px;
}

input[type=number]{ -moz-appearance: textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.navbar-fixed-top {
	min-height: 62px
}

.nav {
	font-family: Rokkitt, serif;
	font-size: 16px;
	text-transform: uppercase
}

.navbar-nav>li>a {
	border-left: 1px solid #e5e5e5;
	line-height: 60px;
	padding-bottom: 0;
	padding-top: 0
}

.navbar-inverse {
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	border-top: 3px solid #91c448
}

.dropdown-menu {
	background-color: #fff
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover
	{
	background-color: #91c448;
	color: #fff
}

.navbar-inverse .navbar-toggle,.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover
	{
	background-color: #91c448;
	border-color: #91c448;
	color: #fff
}

footer {
	background-color: #fff;
	padding: 3% 1%;
}

.main-content {
	min-height: 480px;
	margin-top: 65px;
	padding-top: 2%;
	padding-bottom: 20px
}

h1 {
	font-family: Pacifico;
	text-decoration: underline;
	color: #91c448
}
.form-control{
	border: 1px solid #eee;
}

